body {
    background: tan;
    color: white;
}
h1 {
    color: white;
    font-size: 34px;
    font-style:italic;
    text-align: center;
    background-color: black;
    width: 600px;
    padding: 10px;
    margin: 0;
}